# Ignore SWIG generates
generated/

# Ignore build/dist tree
/build*
/dist/
/pypylon/
*.egg-info

# Ignore python stuff
__pycache__
*.pyc
python*/

# Ignore compiler stuff
*.idb
*.pdb

#ignore linux build stuff
/linux-build/
/linux-build-tools/

# Ignore Genicamtest XML Stuff
/xml
scripts/xml
tests/genicam/xml/

# Ignore .idea folder
/.idea/

# Ignore reference_types.txt
scripts/reference_types.txt

# Ignore NodeMap.pfs
NodeMap.pfs

#ignore generated html
pypylon.*.html
*.tiff
*.pfs
.ipynb_checkpoints/basler_controller-checkpoint.py
.ipynb_checkpoints/debug_basler-checkpoint.py
.ipynb_checkpoints/goniometer_lib-checkpoint.py
.ipynb_checkpoints/gui-checkpoint.py
.ipynb_checkpoints/producer_consumer-checkpoint.py
.ipynb_checkpoints/sampleText-checkpoint.txt
.ipynb_checkpoints/tkinter_plot-checkpoint.py
samples/.ipynb_checkpoints/basler_controller-checkpoint.py
samples/.ipynb_checkpoints/led_main-checkpoint.py
samples/.ipynb_checkpoints/parametrizecameraloadandsaveconfig-checkpoint.py
samples/.ipynb_checkpoints/pixelformatandaoiconfiguration-checkpoint.py
samples/.ipynb_checkpoints/processing-checkpoint.py
samples/.ipynb_checkpoints/save_image-checkpoint.py
samples/.ipynb_checkpoints/test_basler_controller-checkpoint.py
samples/.ipynb_checkpoints/utilityimageformatconverter-checkpoint.py
samples/.ipynb_checkpoints/utilityimageformatconverter1-checkpoint.py
